.navbar {

  ul li ul.dropdown-menu {
    background-color: red;
  }

  .navbar-menu-left {
    float: left;
  }

  .navbar-menu-right {
    float: right;

    ul li ul.dropdown-menu {
      right: 0;
      left: auto;
    }
  }


  .user-menu {
    ul.dropdown-menu {
      min-width: 400px;
      min-height: 300px;
    }
  }
}