@import "elements.less";
@import "vars.less";

@body-offset-top: 0px;

@sidebar-w: 220px;
@sidebar-transition: 0.5s;
@sidebar-small-w: 50px;

body{
  font-family: @font-family-primary;
  font-size: @font-size-default;
  background-color: #FFF;
  padding-top: @body-offset-top;
  padding-left: @sidebar-w;
  .transition(@sidebar-transition);
}

.padding-reset{
    padding: 0px !important;
}

.ui.success.message {
  background-color: #3C763D;
  color: #FFF;
}

.ui.error.message {
  background-color: #A94442;
  color: #FFF;
}

//.ui.flash.message {
//    margin-bottom: 1rem;
//}

.index table .thumb {
  width: 30px;
  height: auto;
  vertical-align: middle;
}

.strong {
  font-weight: bold;
}

#top {

}

#headerbar {

  .ui.navbar.menu {
    //padding-left: 275px;
    border: none;
    //box-shadow: none;
    padding-left: 0px;
  }

  .ui.navbar.menu > .item:first-child {
    //padding-left: 0;
  }
}

#headerbar-breadcrumbs {
  //padding: 1rem 2rem 0;
  //display: none;
}

#toolbar,
#actionbar {
  .ui.navbar.menu {
    //padding-left: 275px;
    //top: 48px;
    background-color: #e8e8e8;
    margin-left: 0;
    margin-right: 0;

    a {
      color: #333;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .ui.navbar.menu > .item:first-child {
    //padding-left: 0;
  }
}

#flash {
  background-color: #FFF;

  .ui.message {
    border-radius: 0;
    box-shadow: none;padding: 1em 2em;
    margin: 0;
  }
}

#sidebar {
  z-index: 9999;

  .be-sidebar {
    width: @sidebar-w;
    overflow-x: hidden;

    .box-shadow(-3px -5px 13px #333);

    .item > .menu {
      display: none;
    }

    .item.trail > .menu {
      display: inherit;
    }

    .item.active > .menu {
      //display: inherit;
    }
  }

  .be-sidebar-toggle span {
    font-size: 80%;
    color: #bbb;
  }
}


body.be-sidebar-small {

  padding-left: @sidebar-small-w;
  .transition(@sidebar-transition);

  #sidebar {
    .be-sidebar {
      max-width: @sidebar-small-w;
      width: @sidebar-small-w;
      .transition(@sidebar-transition);

      .item:before {
        //background: none;
      }

      .item > a > span,
      .item > span,
      .item > .menu {
        display: none;
      }
    }
  }

  #headerbar .ui.navbar.menu {
    //padding-left: @sidebar-small-w + 25px;
    .transition(@sidebar-transition);
  }
}

#page {
  padding-top: 1rem;
}

#page-main {
  position: relative;
  background-color: #CCC;
  //padding-right: 220px;
}

#page-content {
  min-height: 700px;
  background-color: #FFF;
  padding: 1rem 2rem 4rem 2rem;
}


#page-right {
  position: absolute;
  width: 200px;
  background-color: blue;
  right: 0;
  top: 0;
  display: none;
}


.backend.dashboard .dashboard-item {
  min-height: 200px;
}

form div.required > label {
  font-weight: bold;

  &:after {
    content: "*";
  }
}

form div.input {
  margin-bottom: 0.5em;
}

form div.checkbox {
  padding: 0.5em 0 0.5em;
}

form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

/*
.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}

.mobile.row{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }
    .ui.vertical.menu.navbar{
        margin-top: 0px !important;
    }
}
*/

.menu.opaque {
  opacity: 0.97;

  &:hover {
    opacity: 1;
  }
}

.menu.toolbar {
  .item:hover {
    background-color: rgba(0, 0, 0, 0.1) !important;
  }
}

