/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  background-color: #FFF;
}
body.sidebar #page {
  padding-left: 260px !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
body.sidebar-hidden #page {
  padding-left: 0;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
body.sidebar .pusher > .cake-debug-output {
  padding-left: 260px;
}
body.sidebar .pusher > .cake-debug-output:first-child {
  margin-top: 4em;
}
.padding-reset {
  padding: 0px !important;
}
.ui.left.sidebar {
  margin-top: 37px !important;
}
.ui.success.message {
  background-color: #3C763D;
  color: #FFF;
}
.ui.error.message {
  background-color: #A94442;
  color: #FFF;
}
.index table .thumb {
  width: 30px;
  height: auto;
  vertical-align: middle;
}
#page-top {
  margin-top: 50px;
}
#page-flash {
  background-color: #FFF;
}
#page-flash .ui.message {
  border-radius: 0;
  box-shadow: none;
  padding: 1em 2em;
  margin: 0;
}
#page-breadcrumbs {
  padding: 1rem 2rem 0;
}
#page-main {
  min-height: 700px;
  margin-top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 100px;
}
.backend.dashboard .dashboard-item {
  min-height: 200px;
}
form div.required > label {
  font-weight: bold;
}
form div.required > label:after {
  content: "*";
}
form div.input {
  margin-bottom: 0.5em;
}
form div.checkbox {
  padding: 0.5em 0 0.5em;
}
/*
.ui.vertical.menu{
    margin-top: -15px !important;
    width: 100%;
    display: none;
}

.mobile.row{
    padding-top: 0px !important;
    margin-top: 0px !important;
}

.mobile.row .ui.inverted.menu{
    border-radius: 0px !important;
}

@media (max-width: 767px) {
    .ui.grid.main{
        margin-top: 70px;
    }
    .ui.vertical.menu.navbar{
        margin-top: 0px !important;
    }
}
*/
