/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Body
 */
/**
 * Sidebar
 */
/**
 * Navigation
 */
/**
 * Page
 */
/**
 * Sidebar
 */
#sidebar {
  z-index: 9999;
}
#sidebar .be-sidebar {
  width: 0;
  overflow-x: hidden;
  -webkit-box-shadow: -3px -5px 13px #333333;
  -moz-box-shadow: -3px -5px 13px #333333;
  box-shadow: -3px -5px 13px #333333;
}
#sidebar .be-sidebar .item.trail > .menu {
  display: inherit;
}
#sidebar .be-sidebar-toggle span {
  font-size: 80%;
  color: #bbb;
}
body.be-sidebar-small {
  padding-left: 50px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
body.be-sidebar-small #sidebar .be-sidebar {
  max-width: 50px;
  width: 50px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
body.be-sidebar-small #sidebar .be-sidebar .item > a > span,
body.be-sidebar-small #sidebar .be-sidebar .item > span,
body.be-sidebar-small #sidebar .be-sidebar .item > .menu {
  display: none;
}
body.be-sidebar-small #headerbar .ui.navbar.menu {
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
