.modal.modal-sm .modal-dialog  {
  width: 50%;
  max-width: 400px;
}

.modal.modal-lg .modal-dialog  {
    width: 96%;
    max-width: 900px;
}

.modal.modal-xlg .modal-dialog  {
  width: 96%;
  max-width: 1400px;
}