
/* Panels */
.panel {
  border-radius: 0;
  //border: none;
  //ox-shadow: 0 1px 10px rgba(0,0,0,.05);
}

.panel-heading {
  border-radius: 0;
}

.panel-nopad {
  .panel-body {
    padding-left: 0;
    padding-right: 0;
  }
}


// no cell borders for table within a panel
.panel table.table tr th,
.panel table.table tr td {
  border: none;
}

// Collapse
.panel-collapse .panel-heading {
  cursor: pointer;
}

.panel-collapse.panel-collapsed .panel-heading {
  border-bottom: none;
}

.panel-collapse.panel-collapsed .panel-body {
  height: 0;
  max-height: 0;
  overflow: hidden;
  transition: height,max-height 0.1s ease-out;
  padding: 0;
  border-bottom: none;
}