
/* Tabs */
.tabs .nav-tabs li:first-child {
  margin-left: 10px;
}

.tabs .tab-content > .tab-pane.active {
  box-shadow: 0px 2px 2px #CCC;
}

.tabs .tab-content > .tab-pane {
  border: 1px solid #DDD;
  padding: 2rem;
  border-top-width: 0;
  overflow-x: auto;
}