.btn-xs {
  --bs-btn-padding-y: .3rem;
  --bs-btn-padding-x: .5rem;
  --bs-btn-font-size: .75rem;
  line-height: .75rem;
}

.btn-xxs {
  --bs-btn-padding-y: .1rem;
  --bs-btn-padding-x: .25rem;
  --bs-btn-font-size: .6rem;
  line-height: .75rem;
}
