@import "../../node_modules/bootstrap/less/variables";

//#FAFBFC
//#d1d5da
/**
 * Colors
 */
//@color-primary: #337ab7; // Bootstrap
@color-primary:         #3c8dbc; // AdminLTE
@color-primary-inverse: #FFF;
@color-text:            #333;
@color-link:            @color-primary;
@color-success:         #49B52A;
@color-danger:          #DC3601; //#FF6363;
@color-warning:         #f39c12; // #FFCE47;
@color-info:            #5EA5CF;
@color-highlight:       #FFF;
@color-bg:              #f8f8f8; //#ecf0f5;

/**
 * Fonts
 */
//@font-family-primary: 'Open Sans', sans-serif;
//@font-size-default: 12px;
@font-family-primary: 'Tahoma', 'Geneva', 'Helvetica','Arial', sans-serif;
@font-size-small: 12px;
@font-size-default: 14px;
@font-size-large: 16px;

/**
 * Borders
 */
@border-color-base: #d1d5da;
@border-radius-base: 5px;
@border-radius-button: @border-radius-base;
@border-radius-box: @border-radius-base;

/**
 * Padding & Margin
 */
@padding-base: 15px;

/**
 * Body
 */
@body-offset-top: 0;
@body-offset-bottom: 3rem;
@body-font-size: @font-size-default;

/**
 * Header
 */
@header-h: 50px;
@header-bg-color: #3c8dbc;
@header-color: #f8f8f8;

/**
 * Sidebar
 */
@sidebar-w: 230px;
@sidebar-transition: 0.5s;
@sidebar-bg-color: #222d32;
@sidebar-color: #b8c7ce;
@sidebar-collapse-w: 50px;

/**
 * Navigation
 */
@nav-font-size: @body-font-size;
@nav-color-bg: #f8f8f8;
@nav-color-link: #333;
@nav-color-linkhover: #FFF;
@nav-color-highlight: green;

/**
 * Page
 */
@page-spacing: 0.33em;
@page-padding: 1.66em;

/**
 * Tables
 */
@table-border-color: #CBCBCB;

/**
 * Main Content
 */
@content-max-w: 1000px;

/**
 * Forms
 */
@form-max-w: 500px;
@form-input-w: 300px;

/**
 * Boxes
 */
@box-background: #FFF;
@box-header-background: #f9f9f9;
@box-padding-base: 10px;
@box-shadow-base: 0 1px 1px rgba(0,0,0,0.1);
@box-border-base: 1px solid @border-color-base;
//@box-shadow-base: #F2F5F6 0 10px 25px;