/** cakephp3-backend - v1.4.0-dev **/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Borders
 */
/**
 * Body
 */
/**
 * Header
 */
/**
 * Sidebar
 */
/**
 * Navigation
 */
/**
 * Page
 */
/**
 * Tables
 */
/**
 * Main Content
 */
/**
 * Forms
 */
/**
 * Boxes
 */
#flash > .alert,
.flash-wrapper > .alert {
  margin: 0;
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  -moz-background-clip: padding-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#loader {
  position: absolute;
  top: 55px;
  right: 10px;
  z-index: 99999;
  display: none;
  color: #3c8dbc;
}
#loader img {
  max-height: 30px;
}
.navbar ul.navbar-nav > li.dropdown > a:link,
.navbar ul.navbar-nav > li.dropdown > a:active {
  color: #FFF;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu {
  border: none;
  background-color: #FFF;
  margin: 0;
  padding: 0;
  width: 300px;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li {
  padding: 0;
  margin: 0;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li.header,
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li.footer {
  color: #333;
  padding: 7px 15px;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li.header {
  border-bottom: 1px solid #CCC;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li.footer {
  border-top: 1px solid #CCC;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li a {
  color: #333;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul {
  margin: 0;
  padding: 0;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul li {
  padding: 5px 15px;
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul li:last-child {
  border-bottom: none;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul li a {
  margin: 0;
  display: block;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul li a h3,
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul li a h4 {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: bold;
  font-size: 16px;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul li a p {
  margin: 0;
  padding: 0;
}
.navbar ul.navbar-nav > li.dropdown > ul.dropdown-menu li ul li:hover {
  background-color: #f8f8f8;
}
.navbar ul.navbar-nav > li.dropdown:hover > a {
  background-color: #FFF;
  color: #333;
}
.navbar ul.navbar-nav > li.dropdown:hover > ul.dropdown-menu {
  display: block;
}
.navbar .navbar-menu-left {
  float: left;
}
.navbar .navbar-menu-right {
  float: right;
}
.navbar .navbar-menu-right ul li ul.dropdown-menu {
  right: 0;
  left: auto;
}
.navbar .user-menu ul.dropdown-menu > li {
  padding: 5px 15px !important;
}
.navbar .user-menu ul.dropdown-menu > li.user-header,
.navbar .user-menu ul.dropdown-menu > li.user-footer {
  color: #333;
  padding: 7px 15px !important;
}
.navbar .user-menu ul.dropdown-menu > li.user-header {
  border-bottom: 1px solid #CCC;
  text-align: center;
  background-color: #3c8dbc !important;
  color: #f8f8f8 !important;
}
.navbar .user-menu ul.dropdown-menu > li.user-footer {
  border-top: 1px solid #CCC;
}
.navbar .sys-menu ul.dropdown-menu {
  width: 180px !important;
}
.navbar .tasks-menu ul.dropdown-menu li ul li {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.navbar .tasks-menu ul.dropdown-menu li ul li .progress {
  margin-bottom: 0;
}
/**
 * Layout modifications
 */
body.sidebar-mini .main-sidebar {
  width: 230px;
}
body.sidebar-mini .content-wrapper,
body.sidebar-mini .main-header,
body.sidebar-mini .main-footer {
  margin-left: 230px;
}
body.sidebar-collapsed .main-sidebar {
  width: 50px;
  transition: 0.1s ease-in;
}
body.sidebar-collapsed .content-wrapper,
body.sidebar-collapsed .main-header,
body.sidebar-collapsed .main-footer {
  margin-left: 50px;
  transition: 0.1s ease-in;
}
/**
 * Sidebar
 */
.sidebar div.sidebar-toggle {
  height: 50px;
  color: #b8c7ce;
  background-color: #367fa9;
  border: none;
  padding: 0;
}
.sidebar div.sidebar-toggle a {
  display: inline-block;
  padding: 15px 5px 10px 14px;
}
.sidebar div.sidebar-toggle a > i.fa {
  margin-right: 5px;
  width: 20px;
  text-align: center;
}
.sidebar ul {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li {
  position: relative;
  width: 230px;
}
.sidebar a {
  display: block;
  padding: 10px 5px 10px 10px;
  color: #b8c7ce;
  text-decoration: none;
}
.sidebar a > i.fa {
  margin-right: 5px;
  width: 20px;
  text-align: center;
}
.sidebar a:hover {
  text-decoration: none;
  color: #FFF;
}
.sidebar a:link,
.sidebar a:active {
  text-decoration: none;
}
.sidebar ul.sidebar-menu > li {
  border-left: 3px solid #222d32;
}
.sidebar ul.sidebar-menu > li:hover {
  border-left-color: #3c8dbc;
}
.sidebar ul.sidebar-menu > li > a {
  min-height: 40px;
}
.sidebar ul.sidebar-menu > li > ul {
  background-color: #2c3b41;
}
.sidebar ul.sidebar-menu > li > ul li a {
  padding: 5px 5px 5px 10px;
}
.sidebar ul.sidebar-menu-collapse > li > ul {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: 0.1s ease-out;
}
.sidebar ul.sidebar-menu-collapse > li:hover > ul,
.sidebar ul.sidebar-menu-collapse > li.active > ul,
.sidebar ul.sidebar-menu-collapse > li.trail > ul,
.sidebar ul.sidebar-menu-collapse > li > ul.active {
  height: auto;
  visibility: visible;
  opacity: 1;
}
/** Sidebar collapsed **/
.sidebar-collapsed .sidebar div.sidebar-toggle a span {
  display: none;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li {
  width: 50px;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li > a > span {
  display: none;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li > ul {
  display: none;
  position: absolute;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  left: 0%;
  top: 0;
  visibility: hidden;
  opacity: 0;
  transition: transform 0.2s;
  transform: translate(46px, 40px);
  border-right: 1px solid #222d32;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li > ul li {
  border: none;
  width: 180px;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li > ul li > a {
  padding-left: 10px;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li:hover {
  width: 230px;
  background-color: #222d32;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li:hover > a {
  color: #b8c7ce;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li:hover > a > span {
  display: inline-block;
  margin-left: 20px;
}
.sidebar-collapsed .sidebar ul.sidebar-menu > li:hover > ul {
  display: block;
  visibility: visible;
  opacity: 1;
}
nav.toolbar ul {
  margin: 0;
  padding: 0 0 0 15px;
  width: 100%;
}
nav.toolbar ul li {
  display: inline-block;
  padding: 0 5px 0 0;
}
nav.toolbar ul li a {
  display: block;
  padding: 3px 10px;
  border: 1px solid #3c8dbc;
  font-size: 90%;
  opacity: 0.8;
}
nav.toolbar ul li a:hover {
  text-decoration: none;
  background-color: #3c8dbc;
  color: #FFF;
  opacity: 1;
}
body {
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-header {
  position: relative;
  top: 0;
  height: 50px;
  width: auto;
  background-color: #3c8dbc;
  z-index: 1030;
  color: #f8f8f8;
}
.main-header a {
  color: #f8f8f8;
}
.main-header .logo {
  padding-left: 15px;
  padding-top: 15px;
  display: block;
  float: left;
  z-index: 1031;
}
.main-header .navbar {
  transition: margin-left 0.3s ease-in-out;
  margin-bottom: 0;
  border: none;
  min-height: 50px;
  border-radius: 0;
  z-index: 1032;
}
.main-sidebar {
  position: absolute;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background-color: #222d32;
  z-index: 1020;
}
.content,
.content-header {
  padding-left: 15px;
  padding-right: 15px;
}
.content {
  padding-bottom: 2em;
}
.content-header h1 {
  margin: -10px -15px 15px -15px;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  line-height: 28px;
}
.main-footer {
  padding: 5px 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}
.main-footer a {
  color: #3c8dbc;
}
.main-breadcrumbs ul.breadcrumb {
  margin: 0;
  padding: 5px 15px;
  font-size: 90%;
  background-color: transparent;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
}
.main-breadcrumbs ul.breadcrumb > li + li::before {
  padding: 0 0 0 5px;
}
.main-toolbar {
  margin-top: 10px;
}
.main-toolbar nav.toolbar {
  float: right;
  margin-right: 15px;
}
.main-toolbar nav.toolbar:after {
  clear: both;
}
/** Dark Mode **/
body.darkmode {
  background-color: #1D2730;
  color: #C1C1C1;
}
body.darkmode a {
  color: #EEE;
}
body.darkmode .content-header h1 {
  border-color: #314354;
}
body.darkmode .breadcrumb {
  border-color: #314354;
}
body.darkmode .main-footer {
  border-color: #314354;
}
body.darkmode .table {
  color: #C1C1C1;
}
body.darkmode .table > thead > tr > th,
body.darkmode .table > tbody > tr > th,
body.darkmode .table > tfoot > tr > th,
body.darkmode .table > thead > tr > td,
body.darkmode .table > tbody > tr > td,
body.darkmode .table > tfoot > tr > td,
body.darkmode .table-bordered {
  border-color: #314354;
}
body.darkmode .table > tbody > tr:first-child td {
  border-top: none;
}
body.darkmode .table.table-hover > tbody > tr:HOVER > td {
  background-color: #314354;
}
body.darkmode .table.table-striped > tbody > tr > td {
  border-top: none;
}
body.darkmode .table.table-striped > tbody > tr {
  background-color: transparent;
}
body.darkmode .table.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #2b333a;
}
body.darkmode .pagination > li > a,
body.darkmode .pagination > li > span {
  background-color: transparent;
  border: 1px solid #314354;
  color: #FFF;
}
body.darkmode .pagination > li.active > a,
body.darkmode .pagination > li.active > span {
  background-color: #88C7EA;
}
body.darkmode .pagination > li:hover > a,
body.darkmode .pagination > li:hover > span {
  background-color: #FFF;
  color: #88C7EA;
}
body.darkmode .box.with-border {
  border-color: #314354;
}
body.darkmode .box.with-border .box-heading,
body.darkmode .box.with-border .box-footer {
  border-color: #314354;
}
body.darkmode .dataTables_wrapper button.dt-button,
body.darkmode .dataTables_wrapper div.dt-button,
body.darkmode .dataTables_wrapper a.dt-button {
  filter: none;
  background-image: none;
  background-color: #1D2730;
  border-color: #314354;
  color: #C1C1C1;
  margin: 0;
}
body.darkmode .dataTables_wrapper button.dt-button:hover,
body.darkmode .dataTables_wrapper div.dt-button:hover,
body.darkmode .dataTables_wrapper a.dt-button:hover {
  color: #FFF;
  border-color: #FFF;
}
body.darkmode .dataTables_wrapper button.dt-button:last-child,
body.darkmode .dataTables_wrapper div.dt-button:last-child,
body.darkmode .dataTables_wrapper a.dt-button:last-child {
  margin-right: 0.33em;
}
body.darkmode .dataTables_wrapper .dataTables_length,
body.darkmode .dataTables_wrapper .dataTables_filter,
body.darkmode .dataTables_wrapper .dataTables_paginate,
body.darkmode .dataTables_wrapper .dataTables_info,
body.darkmode .dataTables_wrapper .dataTables_processing {
  color: #C1C1C1;
}
body.darkmode .dataTables_wrapper .dataTables_length label,
body.darkmode .dataTables_wrapper .dataTables_filter label,
body.darkmode .dataTables_wrapper .dataTables_paginate label,
body.darkmode .dataTables_wrapper .dataTables_info label,
body.darkmode .dataTables_wrapper .dataTables_processing label {
  font-weight: normal;
}
body.darkmode .dataTables_wrapper .dataTables_filter input {
  background-color: transparent;
  border: 1px solid #314354;
  box-shadow: none;
}
body.darkmode .dataTables_wrapper .dataTables_paginate a.paginate_button {
  filter: none;
  background-image: none;
  background-color: #1D2730;
  border-color: #314354;
  color: #FFF;
}
body.darkmode .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  color: #1D2730;
  border: 1px solid #FFF;
}
body.darkmode form .form-control {
  color: #C1C1C1;
  background-color: #1D2730;
  border-color: #314354;
}
body.darkmode form label,
body.darkmode form .control-label {
  color: #FFF;
}
body.darkmode dl dd,
body.darkmode dl.dl-horizontal dd {
  border-color: #314354;
}
body.darkmode .btn.btn-default {
  background-color: transparent;
  color: #C1C1C1;
  border-color: #314354;
}
body.darkmode .btn.btn-default:hover {
  color: #FFF;
  border-color: #FFF;
}
body.darkmode .SumoSelect > .CaptionCont {
  background-color: #1D2730;
  border-color: #314354;
}
body.darkmode .SumoSelect > .CaptionCont > span {
  color: #C1C1C1;
}
body.darkmode .SumoSelect > .CaptionCont input {
  border-radius: 0;
  background-color: #1D2730;
}
body.darkmode .SumoSelect > .optWrapper {
  background-color: #1D2730;
  border-color: #314354;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt {
  border-color: #314354;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt label {
  color: #FFF;
  margin: 0;
  padding: 0;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt:HOVER {
  background-color: #FFF;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt:HOVER label {
  color: #1D2730;
}
body.darkmode .codeeditor.ace_editor {
  border: 1px solid #314354;
  font-size: 14px;
}
body.darkmode .tabs .nav-tabs {
  border-color: #314354;
}
body.darkmode .tabs .nav-tabs > li > a {
  color: #FFF;
  background-color: transparent;
  border-color: #314354;
}
body.darkmode .tabs .nav-tabs > li > a:hover {
  background-color: #314354;
}
body.darkmode .tabs .nav-tabs > li.active > a {
  color: #FFF;
  background-color: #314354;
  border-color: #314354;
}
body.darkmode .tabs .tab-content {
  background-color: transparent;
}
body.darkmode .tabs .tab-content .tab-pane {
  background-color: transparent;
  border-color: #314354;
}
body.darkmode .nav.nav-horizontal {
  border-bottom-color: #314354;
}
body.darkmode .nav.nav-horizontal > li > a {
  color: #C1C1C1;
}
body.darkmode .modal-content {
  background-color: #1D2730;
  border-color: #FFF;
}
body.darkmode .modal-content .modal-header,
body.darkmode .modal-content .modal-body,
body.darkmode .modal-content .modal-footer {
  border-color: #314354;
}
body.darkmode .modal-content .close {
  color: #FFF;
}
body.darkmode .modal-content .close:hover {
  color: #FFF;
}
body.darkmode pre {
  color: #C1C1C1;
  background-color: transparent;
}
body.darkmode .cake-debug-output .cake-debug {
  background: transparent;
  color: lime;
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
}
