/** cakephp3-backend - v1.4.0-dev **/
/** Admin Layout Dark Mode **/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Borders
 */
/**
 * Body
 */
/**
 * Header
 */
/**
 * Sidebar
 */
/**
 * Navigation
 */
/**
 * Page
 */
/**
 * Tables
 */
/**
 * Main Content
 */
/**
 * Forms
 */
/**
 * Boxes
 */
body.darkmode {
  background-color: #1e1e2f;
  color: #FFF;
}
body.darkmode a {
  color: #7ca8cf;
}
body.darkmode .content-header h1 {
  border-color: #314354;
}
body.darkmode .content-header .content-header-banner {
  background-color: #27293D;
}
body.darkmode .breadcrumb {
  border-color: #314354;
}
body.darkmode .main-sidebar .sidebar .sidebar-menu > li a {
  color: #FFF;
}
body.darkmode .main-sidebar .sidebar .sidebar-menu > li a:hover {
  color: #7ca8cf;
}
body.darkmode .main-footer {
  border-color: #314354;
}
body.darkmode .table {
  color: #FFF;
}
body.darkmode .table > thead > tr > th,
body.darkmode .table > tbody > tr > th,
body.darkmode .table > tfoot > tr > th,
body.darkmode .table > thead > tr > td,
body.darkmode .table > tbody > tr > td,
body.darkmode .table > tfoot > tr > td,
body.darkmode .table-bordered {
  border-color: #314354;
}
body.darkmode .table > tbody > tr:first-child td {
  border-top: none;
}
body.darkmode .table.table-hover > tbody > tr:HOVER > td {
  background-color: #314354;
}
body.darkmode .table.table-striped > tbody > tr > td {
  border-top: none;
}
body.darkmode .table.table-striped > tbody > tr {
  background-color: transparent;
}
body.darkmode .table.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: #1A1A33;
}
body.darkmode .pagination > li > a,
body.darkmode .pagination > li > span {
  background-color: transparent;
  border: 1px solid #314354;
  color: #FFF;
}
body.darkmode .pagination > li.active > a,
body.darkmode .pagination > li.active > span {
  background-color: #88C7EA;
}
body.darkmode .pagination > li:hover > a,
body.darkmode .pagination > li:hover > span {
  background-color: #FFF;
  color: #88C7EA;
}
body.darkmode .box {
  background-color: #27293D;
}
body.darkmode .box .box-header {
  background-color: transparent;
}
body.darkmode .box .with-border {
  border-color: #314354;
}
body.darkmode .box-solid {
  border-color: #314354;
}
body.darkmode .box-solid.box-primary {
  border-color: #3c8dbc;
}
body.darkmode .box-solid.box-primary .box-header {
  background-color: #3c8dbc;
  color: #FFF;
}
body.darkmode .box-solid.box-success {
  border-color: #49B52A;
}
body.darkmode .box-solid.box-success .box-header {
  background-color: #49B52A;
  color: #FFF;
}
body.darkmode .box-solid.box-danger {
  border-color: #DC3601;
}
body.darkmode .box-solid.box-danger .box-header {
  background-color: #DC3601;
  color: #FFF;
}
body.darkmode .box-solid.box-warning {
  border-color: #f39c12;
}
body.darkmode .box-solid.box-warning .box-header {
  background-color: #f39c12;
  color: #FFF;
}
body.darkmode .box-solid.box-info {
  border-color: #5EA5CF;
}
body.darkmode .box-solid.box-info .box-header {
  background-color: #5EA5CF;
  color: #FFF;
}
body.darkmode .info-box {
  background-color: #27293D;
}
body.darkmode .small-box {
  background-color: #27293D;
}
body.darkmode .dataTables_wrapper button.dt-button,
body.darkmode .dataTables_wrapper div.dt-button,
body.darkmode .dataTables_wrapper a.dt-button {
  filter: none;
  background-image: none;
  background-color: #27293D;
  border-color: #314354;
  color: #FFF;
  margin: 0;
}
body.darkmode .dataTables_wrapper button.dt-button:hover,
body.darkmode .dataTables_wrapper div.dt-button:hover,
body.darkmode .dataTables_wrapper a.dt-button:hover {
  color: #FFF;
  border-color: #FFF;
}
body.darkmode .dataTables_wrapper button.dt-button:last-child,
body.darkmode .dataTables_wrapper div.dt-button:last-child,
body.darkmode .dataTables_wrapper a.dt-button:last-child {
  margin-right: 0.33em;
}
body.darkmode .dataTables_wrapper .dataTables_length,
body.darkmode .dataTables_wrapper .dataTables_filter,
body.darkmode .dataTables_wrapper .dataTables_paginate,
body.darkmode .dataTables_wrapper .dataTables_info,
body.darkmode .dataTables_wrapper .dataTables_processing {
  color: #FFF;
}
body.darkmode .dataTables_wrapper .dataTables_length label,
body.darkmode .dataTables_wrapper .dataTables_filter label,
body.darkmode .dataTables_wrapper .dataTables_paginate label,
body.darkmode .dataTables_wrapper .dataTables_info label,
body.darkmode .dataTables_wrapper .dataTables_processing label {
  font-weight: normal;
}
body.darkmode .dataTables_wrapper .dataTables_filter input {
  background-color: transparent;
  border: 1px solid #314354;
  box-shadow: none;
}
body.darkmode .dataTables_wrapper .dataTables_paginate a.paginate_button {
  filter: none;
  background-image: none;
  background-color: #27293D;
  border-color: #314354;
  color: #FFF;
}
body.darkmode .dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  color: #27293D;
  border: 1px solid #FFF;
}
body.darkmode form.form,
body.darkmode form.form-horizontal {
  background-color: transparent;
}
body.darkmode textarea {
  background: transparent;
  border-color: #62879D;
}
body.darkmode form .form-control {
  color: #FFF;
  background-color: #27293D;
  border-color: #62879D;
  border-width: 0 0 1px 0;
  border-radius: 0;
}
body.darkmode form label,
body.darkmode form .control-label {
  color: #FFF;
}
body.darkmode form legend {
  color: #FFF;
  border-color: #314354;
}
body.darkmode dl dd,
body.darkmode dl.dl-horizontal dd,
body.darkmode dl dt,
body.darkmode dl.dl-horizontal dt {
  border-color: #314354;
}
body.darkmode .dropdown-menu {
  background-color: #181515;
}
body.darkmode .btn.btn-default {
  background-color: transparent;
  color: #FFF;
  border-color: #314354;
}
body.darkmode .btn.btn-default:hover {
  color: #FFF;
  border-color: #FFF;
}
body.darkmode .daterangepicker {
  color: #1e1e2f;
}
body.darkmode .SumoSelect > .CaptionCont {
  background-color: #27293D;
  border-color: #314354;
}
body.darkmode .SumoSelect > .CaptionCont > span {
  color: #FFF;
}
body.darkmode .SumoSelect > .CaptionCont input {
  border-radius: 0;
  background-color: #27293D;
}
body.darkmode .SumoSelect > .optWrapper {
  background-color: #27293D;
  border-color: #314354;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt {
  border-color: #314354;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt label {
  color: #FFF;
  margin: 0;
  padding: 0;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt:HOVER {
  background-color: #FFF;
}
body.darkmode .SumoSelect > .optWrapper > .options li.opt:HOVER label {
  color: #27293D;
}
body.darkmode .select2-container--bootstrap .select2-selection,
body.darkmode .select2-container--bootstrap .select2-search--dropdown .select2-search__field {
  background-color: #27293D;
  color: #FFF;
  border-color: #62879D;
}
body.darkmode .select2-container--bootstrap .select2-selection--single .select2-selection__rendered {
  color: #FFF;
}
body.darkmode .select2-dropdown {
  background-color: #27293D;
  border-color: #62879D;
}
body.darkmode .codeeditor.ace_editor {
  border: 1px solid #314354;
  font-size: 14px;
}
body.darkmode .tabs .nav-tabs {
  border-color: #314354;
}
body.darkmode .tabs .nav-tabs > li > a {
  color: #FFF;
  background-color: transparent;
  border-color: #314354;
}
body.darkmode .tabs .nav-tabs > li > a:hover {
  background-color: #314354;
}
body.darkmode .tabs .nav-tabs > li.active > a {
  color: #FFF;
  background-color: #314354;
  border-color: #314354;
}
body.darkmode .tabs .tab-content {
  background-color: transparent;
}
body.darkmode .tabs .tab-content .tab-pane {
  background-color: transparent;
  border-color: #314354;
}
body.darkmode .nav.nav-horizontal {
  border-bottom-color: #314354;
}
body.darkmode .nav.nav-horizontal > li > a {
  color: #FFF;
}
body.darkmode .modal-content {
  background-color: #27293D;
  border-color: #FFF;
}
body.darkmode .modal-content .modal-header,
body.darkmode .modal-content .modal-body,
body.darkmode .modal-content .modal-footer {
  border-color: #314354;
}
body.darkmode .modal-content .close {
  color: #FFF;
}
body.darkmode .modal-content .close:hover {
  color: #FFF;
}
body.darkmode pre {
  color: #FFF;
  background-color: transparent;
}
body.darkmode .cake-debug-output .cake-debug {
  background: transparent;
  color: lime;
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
}
