/** cakephp-admin - v2.0.0 **/
/**
 * Admin stylesheet
 */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Borders
 */
/**
 * Padding & Margin
 */
/**
 * Body
 */
/**
 * Header
 */
/**
 * Sidebar
 */
/**
 * Navigation
 */
/**
 * Page
 */
/**
 * Tables
 */
/**
 * Main Content
 */
/**
 * Forms
 */
/**
 * Boxes
 */
.sidebar-collapsible {
  height: 100%;
  overflow-y: scroll;
}
.sidebar-collapsible .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar-collapsible .dropdown-toggle {
  outline: 0;
}
.sidebar-collapsible .btn-toggle {
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  font-size: 0.875rem;
}
.sidebar-collapsible .btn-toggle:hover,
.sidebar-collapsible .btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}
.sidebar-collapsible .btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}
.sidebar-collapsible .btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.sidebar-collapsible .btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}
.sidebar-collapsible .btn-toggle-nav a {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 0.75rem;
}
.sidebar-collapsible .btn-toggle-nav a:hover,
.sidebar-collapsible .btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}
/*
 * Sidebar
 */
.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100;
  /* Behind the navbar */
  padding: 48px 0 0;
  /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}
.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */
}
.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}
.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}
.sidebar .nav-link.active {
  color: #2470dc;
}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}
.sidebar-heading {
  font-size: 0.75rem;
}
/*
 * Navbar
 */
.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
.navbar .navbar-toggler {
  top: 0.25rem;
  right: 1rem;
}
.navbar .form-control {
  padding: 0.75rem 1rem;
}
.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}
.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}
:root {
  --bs-body-font-size: 0.825rem;
  --bs-body-line-height: 1.5;
}
.btn {
  --bs-btn-font-size: 0.825rem;
}
.dropdown-menu {
  --bs-dropdown-font-size: 0.825rem;
}
.content {
  padding-bottom: 5em;
}
.main-footer {
  display: none;
}
.main-breadcrumbs ol,
.main-breadcrumbs ul {
  margin-bottom: 0;
}
.toolbar {
  border-bottom: 1px solid #CCC;
}
.toolbar .btn-toolbar .btn ~ .btn,
.toolbar .btn-toolbar .btn-group ~ .btn,
.toolbar .btn-toolbar .btn ~ .btn-group,
.toolbar .btn-toolbar .btn-group ~ .btn-group {
  margin-left: 0.25rem;
}
.navbar-brand,
#sidebarMenu {
  min-width: 150px;
  max-width: 200px;
}
