/** cakephp-admin - v1.5.0 **/
/**
 * Admin stylesheet
 */
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/**
 * Colors
 */
/**
 * Fonts
 */
/**
 * Borders
 */
/**
 * Padding & Margin
 */
/**
 * Body
 */
/**
 * Header
 */
/**
 * Sidebar
 */
/**
 * Navigation
 */
/**
 * Page
 */
/**
 * Tables
 */
/**
 * Main Content
 */
/**
 * Forms
 */
/**
 * Boxes
 */
.wrapper {
  height: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 230px;
  height: 100%;
  background-color: #222d32;
  z-index: 1020;
}
.content-wrapper {
  padding-left: 230px;
}
.content {
  padding-bottom: 2em;
}
.content-header h1 {
  margin-top: 10px;
  padding-bottom: 5px;
  font-size: 26px;
  line-height: 1.1em;
}
.content-header .content-header-banner {
  margin: 0 -15px 15px -15px;
  padding: 15px 30px;
}
.main-footer {
  position: static;
  bottom: 0;
  background: #fff;
  padding: 5px 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}
.main-breadcrumbs ul.breadcrumb {
  margin: 0;
  padding: 5px 15px;
  font-size: 90%;
  border-bottom: 1px solid #e1e1e1;
  border-radius: 0;
}
.main-breadcrumbs ul.breadcrumb > li + li::before {
  padding: 0 0 0 5px;
}
.main-toolbar {
  position: relative;
}
.main-toolbar nav.toolbar {
  padding: 15px 0;
  text-align: right;
}
.index,
.view,
.edit {
  padding-left: 15px;
  padding-right: 15px;
}
.form {
  max-width: 900px;
}
